body{
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: #9698a6;
    line-height: 1.3;
    overflow-x: hidden;
}
h1, h2, h3{
    font-weight: 300;
    line-height: 1.15;
    color: #2d314d;
}
h1{

    font-size: 3.25rem;
    display: block;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
}
button{
    position: relative;
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 0.875rem;
    transition: opacity 300ms ease-in-out;
    overflow: hidden;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin: 1% 20%;
}
.Next-generation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.Next-generation-text{
    text-align: left;
    flex: 2;
    margin: 0 5%;
    max-width: 25em;
}
.why-choose{
    background-color: #f3f4f6;
    text-align: left;  
    padding: 5% 10%;
    justify-content: space-around;
}
.why-choose-boxes{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.why-choose-features{
    padding: 1% 1%;
}
.container-articles{
    background-color: #fafafa;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5% 10%;
}
.latest-articles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 69.375rem;
    padding: 0 25%;
}
.latest-articles section{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    border-radius: 0.3125rem;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 15%);
    margin: 0 1%;
    
}
.article-image{
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.article-text{
    padding: 1.875rem 1.5625rem;
}
.article-autor{
    color: #9698a6;
    font-size: 0.625rem;
    margin-bottom: 0.75rem;
}
.article-title {
    font-size: 1.0625rem;
    line-height: 1.2;
    color: #2d314d;
    margin-bottom: 0.5rem;
}
.article-description{
    font-size: 0.8125rem;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: #2d314d;
    color: white;
    padding: 2.5rem;
    text-align: center;
  }